<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgplatform.system.mapper.RolePermissionPointMapper">
    <!--@Table role_permission_point-->
    <resultMap id="BaseResultMap" type="com.kgplatform.system.domain.dto.RolePermissionPointDto">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="permission_point_id" property="permissionPointId"/>
        <result column="status" property="status"/>
        <result column="delete_status" property="deleteStatus"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, role_id, permission_point_id, status, delete_status, create_by, create_time, last_modified_by, last_modified_time
    </sql>

    <select id="selectPageList" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM role_permission_point
        <where>
            1=1
            AND delete_status = 0
            <if test="null != vo.bindRoleId">
                AND role_id = #{vo.bindRoleId}
            </if>
            <if test="null != vo.bindPermissionPointId">
                AND permission_point_id = #{vo.bindPermissionPointId}
            </if>
            <if test="null != vo.status">
                AND status = #{vo.status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>
</mapper>

